<div class="col-xl-12">
    <div class="alert alert-light text-bg-light alert-dismissible d-flex align-items-center" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <iconify-icon icon="solar:atom-bold-duotone" class="fs-20 me-1"></iconify-icon>
                                    <div class="lh-1"><strong class="text-start lh-lg">
                                        当前<b style="color: red;"><?php echo $code['site_num'] ;?></b>站点,正在使用本插件<br>
                                         <?php echo $info;?> </strong></div>
                                </div>
    <div class="card">
        <div class="card-header border-bottom">
            <h4 class="header-title">上广告联系TG：<a href="<?php echo $code['qq'];?>" target="_blank"> 在线客服</a></h4>
        </div>
        <div class="card-body"> 
            <div class="table-responsive-sm">
                <div class="row mt-1 g-1"> 
                        <?php if($imgadlist) { foreach($imgadlist as &$_ad) { ?>
                            <div class="col-lg-6">
                            <div class="border rounded text-center">
                            <a href="<?php echo $_ad['url'];?>" target="_blank"> <img border="0" height="100px" width="100%" alt='<?php echo $_ad['name'];?>' src="<?php echo $_ad['img'];?>"></a>
                            </div>
                            </div>
                         <?php } } ?> 
                </div>
                <hr>
                <div class="row g-1 mt-2">  
                    <?php if($imglist) { foreach($imglist as &$_img) { ?>
                        <?php $colors = array("#FF00FF", "red", "blue", "#0c9c0c", "#9400D3", "#00bec7");
                          ?>
                        
                            <div class="col-lg-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="bg-light d-flex align-items-center justify-content-center rounded">
                                        <img src="/niuniuzs/view/assets/images/huo.gif" class="fs-28 text-primary"> 
                                    </div> 
                                    <div>
                                        <p class="text-dark fw-medium fs-16 mb-0"><a target="_blank" href="<?php echo $_img['url'];?>" style="color:<?php echo  $colors[array_rand($colors)];?> !important;"><b
                                            ><?php echo $_img['name'];?></b></a></p>
                                    </div>
                                </div>
                            </div>  
                      <?php }} else { ?>
                      <?php } ?>
                </div>
            </div> 
        </div>  
    </div>  
</div>