<footer class="footer">
                <div class="page-container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start">
                            <script>document.write(new Date().getFullYear())</script> © 牛牛助手 - By <span class="fw-bold text-decoration-underline text-uppercase text-reset fs-12">niuniuzs.com</span>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="//niuniuzs.com"><i class="ti ti-home"></i>官网</a>
                                <a href="//niuniubbs.com/"><i class="ti ti-screen-share"></i>免费模板</a>
                                <a href="<?php echo $version['tg'] ;?>"><i class="ti ti-brand-telegram"></i>TG交流群</a>
                            </div>
                        </div>
                    </div>
                </div>
</footer>
