<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8" />
    <title>欢迎您使用--牛牛助手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" href="https://niuniuzs.com/niuniuzs/view/assets/images/favicon.ico"> 
    <script src="https://niuniuzs.com/niuniuzs/view/assets/js/config.js"></script> 
    <link href="https://niuniuzs.com/niuniuzs/view/assets/css/vendor.min.css" rel="stylesheet" type="text/css" /> 
    <link href="https://niuniuzs.com/niuniuzs/view/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" /> 
    <link href="https://niuniuzs.com/niuniuzs/view/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>
<body> 
<div class="auth-bg d-flex min-vh-100 justify-content-center align-items-center">
    <div class="row g-0 justify-content-center w-100 m-xxl-5 px-xxl-4 m-3">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card overflow-hidden text-center h-100 p-xxl-4 p-3 mb-0">
                <a href="#" class="auth-brand mb-3">
                    <img src="https://niuniuzs.com/niuniuzs/view/assets/images/logo-dark.png" alt="dark logo" height="30" class="logo-dark">
                    <img src="https://niuniuzs.com/niuniuzs/view/assets/images/logo.png" alt="logo light" height="30" class="logo-light">
                </a>
                <h4 class="fw-semibold mb-2">欢迎使用牛牛助手-影视的好帮手</h4> 
                
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#bs-example-modal-lg">点击阅读-安装说明</button>
                <div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">安装说明</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-start lh-lg">  
                            0、数组字符：输入任意内容系统会进行API密钥设置 <br>
                            1、采集接口：【自动添加】所有推荐资源到采集接口 【手动添加】 根据需求手动添加 <br>
                            2、 播 放 器：【自动添加】所有推荐资源的播放器  【手动添加】 根据需求手动添加 <br>
                            3、定时任务：【自动添加】所有推荐资源到定时任务 【手动添加】 根据需求手动添加 <br>
                            4、分类导入：【不导入】保持现有分类  【导入影视【x】分类】 不会覆盖掉现有的分类 只会增加没有的<br>
                            5、分类数据：【不清空原分类】保留现有分类数据 【清空原分类】 清空所有分类数据 需要配合 分类导入使用 <br>
                            6、会员权限：【自动设置】自动设置添加的分类 会员组查看权限 【手动设置】 后台自己修改权限 <br>
                            7、自动分类：【自动分类】自动绑定现有分类 【手动分类】 手动绑定现有分类 <br>    
                            </div>
                        </div>
                    </div>
                </div>

                <form action="<?php echo url('auto/install');?>" method="post" id="form" class="text-start mb-3 mt-3">  
                    <div class="mb-3">
                        <label class="form-label" for="example-name">请输入任意数组或字符</label> 
                        <input type="text" name="password" class="form-control" value="">
                    </div>
                    <div class="row g-2">
                        <div class="mb-3 col-md-12">
                            <label class="form-label">采集接口：</label> 
                        <div class="form-check form-radio-info form-check-inline">
                            <input type="radio" class="form-check-input" name="api" id="modeLatest" value="0" checked>
                            <label class="form-check-label" for="modeLatest">自动添加</label>
                        </div>
                        <div class="form-check form-radio-info form-check-inline">
                            <input type="radio" class="form-check-input" name="api" id="modeHot" value="1">
                            <label class="form-check-label" for="modeHot">手动添加</label>
                        </div> 
                        </div> 
                    </div>
                    <div class="row g-2">
                        <div class="mb-3 col-md-12">
                            <label class="form-label">播 放 器 ：</label> 
                        <div class="form-check form-radio-info form-check-inline">
                            <input type="radio" class="form-check-input" name="play" id="modeLatest" value="0" checked>
                            <label class="form-check-label" for="modeLatest">自动添加</label>
                        </div>
                        <div class="form-check form-radio-info form-check-inline">
                            <input type="radio" class="form-check-input" name="play" id="modeHot" value="1">
                            <label class="form-check-label" for="modeHot">手动添加</label>
                        </div> 
                        </div> 
                    </div> 
                    <div class="row g-2">
                        <div class="mb-3 col-md-12">
                            <label class="form-label">定时任务：</label> 
                        <div class="form-check form-radio-info form-check-inline">
                            <input type="radio" class="form-check-input" name="cron" id="modeLatest" value="0" checked>
                            <label class="form-check-label" for="modeLatest">自动添加</label>
                        </div>
                        <div class="form-check form-radio-info form-check-inline">
                            <input type="radio" class="form-check-input" name="cron" id="modeHot" value="1">
                            <label class="form-check-label" for="modeHot">手动添加</label>
                        </div> 
                        </div> 
                    </div> 
                    <div class="row g-2">
                        <div class="mb-3 col-md-12">
                            <label class="form-label">分类导入：</label> 
                        <div class="form-check form-radio-warning form-check-inline">
                            <input type="radio" class="form-check-input" name="type" id="modeLatest" value="0">
                            <label class="form-check-label" for="modeLatest">不导入</label>
                        </div>
                        <div class="form-check form-radio-warning form-check-inline">
                            <input type="radio" class="form-check-input" name="type" id="modeHot" value="1"  checked>
                            <label class="form-check-label" for="modeHot">影视</label>
                        </div>
                        <div class="form-check form-radio-warning form-check-inline">
                            <input type="radio" class="form-check-input" name="type" id="modeRandom" value="2">
                            <label class="form-check-label" for="modeRandom">X影视</label>
                        </div> 
                        </div> 
                    </div>
                    <div class="row g-2">
                        <div class="mb-3 col-md-12">
                            <label class="form-label">分类数据：</label> 
                        <div class="form-check form-radio-danger form-check-inline">
                            <input type="radio" class="form-check-input" name="clear" id="modeLatest" value="0" checked>
                            <label class="form-check-label" for="modeLatest">不清空原分类</label>
                        </div>
                        <div class="form-check form-radio-danger form-check-inline">
                            <input type="radio" class="form-check-input" name="clear" id="modeHot" value="1">
                            <label class="form-check-label" for="modeHot">清空原分类</label>
                        </div> 
                        </div> 
                    </div>
                    <div class="row g-2">
                        <div class="mb-3 col-md-12">
                            <label class="form-label">会员权限：</label> 
                        <div class="form-check form-radio-info form-check-inline">
                            <input type="radio" class="form-check-input" name="users" id="modeLatest" value="0" checked>
                            <label class="form-check-label" for="modeLatest">自动设置</label>
                        </div>
                        <div class="form-check form-radio-info form-check-inline">
                            <input type="radio" class="form-check-input" name="users" id="modeHot" value="1">
                            <label class="form-check-label" for="modeHot">手动设置</label>
                        </div> 
                        </div> 
                    </div>
                    <div class="row g-2">
                        <div class="mb-3 col-md-12">
                            <label class="form-label">分类绑定：</label> 
                        <div class="form-check form-radio-danger form-check-inline">
                            <input type="radio" class="form-check-input" name="bind" id="modeLatest" value="0" checked>
                            <label class="form-check-label" for="modeLatest">自动分类</label>
                        </div>
                        <div class="form-check form-radio-danger form-check-inline">
                            <input type="radio" class="form-check-input" name="bind" id="modeHot" value="1">
                            <label class="form-check-label" for="modeHot">手动分类</label>
                        </div> 
                        </div> 
                    </div>
                    

                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">立即安装</button>
                    </div>
                </form> 
                <p class="mt-auto mb-0">
                    <script>document.write(new Date().getFullYear())</script> © <?php echo $conf['name'];?> - By <span class="fw-bold text-decoration-underline text-uppercase text-reset fs-12">niuniuzs.com</span>
                </p>
            </div>
        </div>
    </div>
</div>
    <script src="https://niuniuzs.com/niuniuzs/view/assets/js/vendor.min.js"></script>
    <script src="https://niuniuzs.com/niuniuzs/view/assets/js/app.js"></script>
</body>
</html>