<?php include  ROOT_PATH.'niuniuzs/view/html/head.htm';?>
<div class="page-content">
    <div class="page-container">
        <div class="row mt-3">
            <?php include  ROOT_PATH.'niuniuzs/view/html/ad.htm';?>
        </div> 
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-bottom border-dashed d-flex align-items-center">
                    <h4 class="header-title">影视娱乐资讯</h4>
                    <span class="ms-auto text-muted btn btn-soft-danger" data-bs-toggle="modal" href="#exampleModalToggle" role="button">使用帮助</span>
                     <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalToggleLabel">使用说明</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                  说明：<br>1、自动绑定已有分类 没有则自动创建 <br> 2、定时任务<br> 
                                                <div class="d-flex flex-wrap gap-2 mt-2">  
                                                    <a  href="<?php echo url('auto/inton');?>" class="btn btn-info">一键采集</a> 
                                                </div>
                                            </div> 
                                        </div> 
                                    </div> 
                                </div>  
                </div>
                <div class="card-body">
                    <?php if (!is_dir($artpath)&&!file_exists($artpath.'detail.html')&&!file_exists($artpath.'type.html')) { ?>
                    <div class="alert alert-light text-bg-light alert-dismissible d-flex align-items-center" role="alert">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <iconify-icon icon="solar:shield-warning-line-duotone" class="fs-20 me-1"></iconify-icon>
                                    <div class="lh-1"><strong>警告 -模板文件不存在 </strong><a href="<?php echo url('auto/artcp');?>" class="btn btn-warning">点击初始化默认模板</a> </div>
                                </div>
                    <?php }else { ?>
                    
                    <div class="alert alert-light text-bg-light alert-dismissible d-flex align-items-center" role="alert">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <iconify-icon icon="solar:check-read-line-duotone" class="fs-20 me-1"></iconify-icon>
                                    <div class="lh-1"><strong>存在文章模板 -可以开始正常采集 </strong>
                                    <a class="btn btn-soft-success ml-2" href="<?php echo url('auto/inton');?>" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="一键自动绑定分类、定时任务">一键采集</a> 
                                <a class="btn btn-soft-success" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api.html?ac=list&cjflag=<?php echo md5($news['api']);?>&cjurl=<?php echo $news['api'];?>&type=2&mid=2">查看分类</a>
                                
                                <a class="btn btn-soft-success ml-2"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="采集当天" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=24&cjflag=<?php echo md5($news['api']);?>&cjurl=<?php echo $news['api'];?>&type=2&mid=2">采集当天</a>
                                
                                <a class="btn btn-soft-success ml-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="采集本周" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=168&cjflag=<?php echo md5($news['api']);?>&cjurl=<?php echo $news['api'];?>&type=2&mid=2">采集本周</a>
                                
                                <a class="btn btn-soft-success ml-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="采集全部"  href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=&cjflag=<?php echo md5($news['api']);?>&cjurl=<?php echo $news['api'];?>&type=2&mid=2">采集全部</a>
                                 
                                    </div>
                                </div>
                    
                    <?php } ?>
                    <?php if (!is_dir($artpath)) { ?>
                    <div class="alert alert-danger text-bg-danger alert-dismissible d-flex align-items-center" role="alert">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <iconify-icon icon="solar:danger-triangle-bold-duotone" class="fs-20 me-1"></iconify-icon>
                                    <div class="lh-1"><strong>错误 - </strong> 模板不存在 art 目录!</div>
                                </div>
                    <?php } ?>
                    
                    <?php if (!file_exists($artpath.'detail.html')) { ?>
                    <div class="alert alert-danger text-bg-danger alert-dismissible d-flex align-items-center" role="alert">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <iconify-icon icon="solar:danger-triangle-bold-duotone" class="fs-20 me-1"></iconify-icon>
                                    <div class="lh-1"><strong>错误 - </strong> art 模板目录不存在 detail.html 内容模板!</div>
                                </div>
                    <?php } ?>
                    
                    <?php if (!file_exists($artpath.'type.html')) { ?>
                    <div class="alert alert-danger text-bg-danger alert-dismissible d-flex align-items-center" role="alert">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <iconify-icon icon="solar:danger-triangle-bold-duotone" class="fs-20 me-1"></iconify-icon>
                                    <div class="lh-1"><strong>错误 - </strong> art 模板目录不存在 type.html 列表模板!</div>
                                </div>
                    <?php } ?>
                     
                    
                    <div class="table-responsive-sm">
                                    <table class="table mb-0">
                                         
                                        <tbody>
                                            <?php if($news['list']) { foreach($news['list'] as &$_news) { ?>
                                             <tr> 
                                                <td><?php echo $_news['art_name'];?></td>
                                                <td><?php echo $_news['type_name'];?></td>
                                                <td><?php echo $_news['art_time'];?></td> 
                                            </tr>
                                            <?php }} else { ?> 暂无相关数据 <?php } ?> 
                                        </tbody>
                                    </table>
                                </div> 
            </div> 
        </div>
        
    

    </div>
    <?php include  ROOT_PATH.'niuniuzs/view/html/footer.htm';?>
</div>
<?php include  ROOT_PATH.'niuniuzs/view/html/foot.htm';?>