<?php include  ROOT_PATH.'niuniuzs/view/html/head.htm';?>
<div class="page-content">
    <div class="page-container">
        <div class="row mt-3">
            <?php include  ROOT_PATH.'niuniuzs/view/html/ad.htm';?>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-bottom border-dashed d-flex align-items-center">
                    <h4 class="header-title">影视海报</h4>
                    <span class="ms-auto text-muted btn btn-soft-danger" data-bs-toggle="modal" href="#exampleModalToggle" role="button">使用帮助</span>
                     <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalToggleLabel">使用说明</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                  说明：<br>1、自动设置 不支持搜索 仅支持豆瓣id 搜索请去官网搜索复制<br> 
                                                  2、如果设置一直是0  清理缓存 、联系资源网 是否存在豆瓣id<br>
                                                  3、海报数据每天更新 
                                            </div> 
                                        </div> 
                                    </div> 
                                </div> 
                                
                </div>
                <div class="card-body"> 
                    <div class="auth-bg d-flex justify-content-center align-items-center">
                        <div class="row g-0 justify-content-center w-100 m-xxl-5 px-xxl-4 m-3">
                            <div class="col-xl-4 col-lg-5 col-md-6">
                                <div class="card overflow-hidden text-center h-100 p-xxl-4 p-3 mb-0"> 
            
                                    <h4 class="fw-semibold mb-2">牛牛助手-自动海报</h4> 
                
                                    <form action="<?php echo url('auto/autoposter');?>" class="text-start mb-3 mt-3">
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-12">
                                                <label class="form-label">更新方式：</label> 
                                            <div class="form-check form-radio-danger form-check-inline">
                                                <input type="radio" class="form-check-input" name="mode" id="modeLatest" value="newhb" checked>
                                                <label class="form-check-label" for="modeLatest">最新</label>
                                            </div>
                                            <div class="form-check form-radio-danger form-check-inline">
                                                <input type="radio" class="form-check-input" name="mode" id="modeHot" value="tophb">
                                                <label class="form-check-label" for="modeHot">最热门</label>
                                            </div>
                                            <div class="form-check form-radio-danger form-check-inline">
                                                <input type="radio" class="form-check-input" name="mode" id="modeRandom" value="randhb">
                                                <label class="form-check-label" for="modeRandom">随机</label>
                                            </div> 
                                            </div> 
                                        </div> 
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-12">
                                                <label class="form-label">更新条件：</label> 
                                                <div class="form-check form-radio-info form-check-inline">
                                                    <input type="radio" class="form-check-input" name="type" id="stype" value="0" checked>
                                                    <label class="form-check-label" for="stype">豆瓣id</label>
                                                </div> 
                                            </div> 
                                        </div>  
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-6">
                                                <label for="inputCity" class="form-label">推荐数量</label>
                                                <input type="text" class="form-control" name='num' value="10" readonly>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" >推荐等级</label>
                                                <select class="form-select" name="levl"> 
                                                <option value="0">选择</option>
                                                <option value="1">推荐1</option>
                                                <option value="2">推荐2</option>
                                                <option value="3">推荐3</option>
                                                <option value="4">推荐4</option>
                                                <option value="5">推荐5</option>
                                                <option value="6">推荐6</option>
                                                <option value="7">推荐7</option>
                                                <option value="8">推荐8</option>
                                                <option value="9">推荐9</option>
                                            </select>
                                            </div> 
                                        </div>  
                                        <div class="d-grid">
                                            <button class="btn btn-primary" type="submit">立即保存</button>
                                        </div>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ratio" style="--bs-aspect-ratio: 100%">
                        <iframe src="https://niuniuzs.com/?haibao" class="w-100 h-100 border-0" onload="this.style.height=this.contentWindow.document.body.scrollHeight + 'px'"></iframe>
                    </div>
                </div> 
            </div> 
        </div> 
    </div>
    <?php include  ROOT_PATH.'niuniuzs/view/html/footer.htm';?>
</div>
<?php include  ROOT_PATH.'niuniuzs/view/html/foot.htm';?>