<?php include  ROOT_PATH.'niuniuzs/view/html/head.htm';?>
<div class="page-content">
    <div class="page-container">
        <div class="row mt-3">
            <?php include  ROOT_PATH.'niuniuzs/view/html/ad.htm';?>
        </div> 
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-bottom border-dashed d-flex align-items-center">
                    <h4 class="header-title">推荐采集，资源多更新快</h4>
                    <span class="ms-auto d-flex flex-wrap gap-2 "> 
                                                    <a  href="<?php echo url('auto/cleartype');?>" class="btn btn-danger">清空现有分类</a>
                                                    <a  href="<?php echo url('auto/intov');?>" class="btn btn-info">导入影视分类</a>
                                                    <a  href="<?php echo url('auto/intox');?>"  class="btn btn-warning">导入X分类</a> 
                                                    <a  data-bs-toggle="modal" href="#exampleModalToggle" role="button" class="btn btn-light"><i class="ti ti-help align-middle me-1 fs-18"></i>使用帮助</a>
                                                     <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalToggleLabel">分类管理</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                 分类导入说明：<br>1、清空现有分类 会清空目前站点的所以分类<br>
                                                 2、导入影视【x】分类 不会覆盖掉现有的分类 只会增加没有的 
                                                <div class="d-flex flex-wrap gap-2 mt-2"> 
                                                    <a  href="<?php echo url('auto/cleartype');?>" class="btn btn-danger">清空现有分类</a>
                                                    <a  href="<?php echo url('auto/intov');?>" class="btn btn-info">导入影视分类</a>
                                                    <a  href="<?php echo url('auto/intox');?>"  class="btn btn-warning">导入X分类</a> 
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">下一步【如何采集】</button>
                                            </div>
                                        </div> 
                                    </div> 
                                </div>  
                                <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalToggleLabel2">采集管理</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                一键采集说明：<br>1、选择你想采集的资源站点击 一键采集 <br>
                                                2、一键采集会自动添加 播放器、采集接口、自动绑定现有分类、自动添加定时任务 <br>
                                                3、定时任务去系统设置中复制测试链接 到宝塔设置定时访问 
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">上一步【分类导入】</button>
                                            </div>
                                        </div> 
                                    </div> 
                                </div> 
                                                </span>
                      
                               
                </div>
                <div class="card-body"> 
                    <div class="table-responsive-sm">
                        <table class="table table-bordered border-secondary mb-0">
                            <thead class="table-dark"> 
                            </thead>
                            <tbody> 
                                <?php $i=0;if($apilist) { foreach($apilist as &$_api ) { $i++; ?> 
                                <?php         
                  if($i <= 5){
                  echo '<tr style="background-color: #cff5f7;">';
                  }elseif($i <=10){
                  echo '<tr style="background-color: #f9d1e5;">';
                  }else{
                  echo '<tr style="background-color: #e6f9ce;">';
                  } 
                  ?> 
                                <td width="100" align="center"><span class="layui-badge layui-bg-red">
                                    <?php echo $_api['type'];?>
                                  </span></td>
                                <td><a href="<?php echo $_api['url'];?>" target="_blank">
                                    <?php echo $_api['name'];?>【<?php echo $_api['newname'];?>】<span style="color:red;">【<?php echo $_api['sn_name'];?>】<?php         
                  if($i <= 5){
                  echo '<img src="/niuniuzs/view/assets/images/h.gif">';
                  }elseif($i <=10){
                  echo '<img src="/niuniuzs/view/assets/images/z.gif">';
                  }else{
                  echo '<img src="/niuniuzs/view/assets/images/l.gif">';
                  } 
                  ?></span>
                                  </a></td>
                                <td width="100" align="center"><a style="color:#1E90FF;" href="<?php echo $_api['url'];?>" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="进入资源官网">资源站官网</a></td> 
                                <td width="100" align="center"><a style="color:#1E90FF;" href="<?php echo $_api['tggroup'];?>" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="TG群组">TG群组</a> </td> 

                                <td width="100" align="center"><a style="color:#1E90FF;" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/Auto/autotype?name=<?php echo $_api['name'];?>&apiinfo=<?php echo $_api['apiinfo'];?>&playurl=<?php echo $_api['play'];?>&cjflag=<?php echo md5($_api['api']);?>&cjurl=<?php echo $_api['api'];?>&cname=<?php echo $_api['newname'];?>" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="一键添加播放器、采集接口、定时任务、自动绑定已有分类">一键采集</a></td> 
                                <td width="80" align="center"><a style="color:#1E90FF;" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api.html?ac=list&cjflag=<?php echo md5($_api['api']);?>&cjurl=<?php echo $_api['api'];?>">查看分类</a>
                                </td>
                                <td width="100" align="center"><a style="color:#1E90FF;"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="采集当天" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=24&t=&ids=&wd=&type=2&mid=1&opt=0&sync_pic_opt=0&filter=0&filter_from=&filter_year=&param=&cjflag=<?php echo md5($_api['api']);?>&cjurl=<?php echo $_api['api'];?>">采集当天</a>
                                </td>
                                <td width="100" align="center"><a style="color:#1E90FF;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="采集本周" href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=168&t=&ids=&wd=&type=2&mid=1&opt=0&sync_pic_opt=0&filter=0&filter_from=&filter_year=&param=&cjflag=<?php echo md5($_api['api']);?>&cjurl=<?php echo $_api['api'];?>">采集本周</a>
                                </td>
                                <td width="100" align="center"><a style="color:#1E90FF;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="采集全部"  href="/<?php  echo str_replace("/","",$GLOBALS['in_file']);?>/admin/collect/api?ac=cj&h=&t=&ids=&wd=&type=2&mid=1&opt=0&sync_pic_opt=0&filter=0&filter_from=&filter_year=&param=&cjflag=<?php echo md5($_api['api']);?>&cjurl=<?php echo $_api['api'];?>">采集全部</a>
                                </td> 
                                </tr>
                                <?php }} else { ?>
                                暂无相关数据
                                <?php } ?>
                  
                              </tbody>
                        </table>
                    </div>  
                </div> 
            </div> 
        </div>
    </div>
    <?php include  ROOT_PATH.'niuniuzs/view/html/footer.htm';?>
</div>
<?php include  ROOT_PATH.'niuniuzs/view/html/foot.htm';?>